.grid{
  display:grid;
/*  grid-template-columns: 100px repeat(3,1fr);
  grid-template-rows: repeat(5,150px);*/
  grid-template: repeat(15,75px)/ 200px 400px;
  grid-gap: 0px 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.box{

}


.titel{
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}

.VertBanner{
  grid-row-start: 3;
  grid-row-end: span 12;
  background-color: #383535;

}

.main1{
  grid-row: 3/span 2;
  grid-column: 2/span 1;
}

.main2{
  grid-area: 6 / 2 / span 3 / span 1;
}



.fit{
  width: 100%;
  height: auto;
}

.fontStyle{
  color: #FFF;
}

.fontStyle2{
  color: #383535;
}

h1{
  color: #383535;
  opacity: 0.9;
  font-family: 'arial', sans-serif;
}

h2{
  color: #383535;
  opacity: 0.6;
  font-family: 'arial', sans-serif;
  font-style: italic;
}

h3{
  text-decoration: underline;
  font-family: 'arial', sans-serif;
  margin-left: 2%;
}

p{
  font-family: 'arial', sans-serif;
  opacity: 0.7;
  margin-left: 2%;

}

ul{
  font-family: 'arial', sans-serif;
  opacity: 0.7;
}
.container{
  display: flex;
  align-items: flex-start;
}

.tabbed{
  margin-left: 1em;
}
