body{
  margin: 0;
}
/*pls*/

.menu{
  position: relative;
  right: -50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-around;
}
.btn{
  padding: 1em 2em;
  margin-bottom: 5vh;
  border: none;
  color: white;
  background-color: rgb(193, 40, 40);
}

.grid{
  display:grid;
  grid-template: repeat(13,75px)/ 3fr 5fr;
  width: 689.43px;
  margin: 5vh auto;
  box-shadow: 0px 0px 20px #333;
}

.headerBox{
  grid-column: 2/span 1;
  grid-row: 1/span 2;
  -webkit-mask-image: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), to(rgba(0,0,0,1)));
  overflow: hidden;
  text-align: center;
}
.header{
  opacity: 0;
  animation-name: fadeinLeft;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.VertBannerBox{
  grid-row-start: 3;
  grid-row-end: span 12;
  background-color: rgb(193, 40, 40);
  color: #fff;
}
.bannerTop{
  grid-area: 1 / 1 / span 2 / span 1;
  background-color: rgb(193, 40, 40);
}

.profileBox{
  margin-top: 5%;
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), color-stop(5%, rgba(0,0,0,1)), to(rgba(0,0,0,1)));
}
.profile{
  opacity: 0;
  animation-name: fadeinTop;
  animation-duration: 1s;
  animation-delay: 1.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.hobbiesBox{
  margin-top: 5%;
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), color-stop(5%, rgba(0,0,0,1)), to(rgba(0,0,0,1)));
}
.hobbies{
  opacity: 0;
  animation-name: fadeinTop;
  animation-duration: 1s;
  animation-delay: 1.9s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.eduBox{
  grid-row: 3/span 3;
  grid-column: 2/span 1;
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), to(rgba(0,0,0,1)));
}
.edu{
  opacity: 0;
  animation-name: fadeinTop;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.expBox{
  grid-area: 6 / 2 / span 3 / span 1;
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), to(rgba(0,0,0,1)));
}
.exp{
  opacity: 0;
  animation-name: fadeinTop;
  animation-duration: 1s;
  animation-delay: 1.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.skillsBox{
  grid-area: 8 / 2 / span 6 / span 1;
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), color-stop(5%, rgba(0,0,0,1)), to(rgba(0,0,0,1)));
}
.skills{
  opacity: 0;
  animation-name: fadeinTop;
  animation-duration: 1s;
  animation-delay: 1.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

a{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

a:hover{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

h1{
  color: rgb(193, 40, 40);
  opacity: 0.9;
  font-family: 'arial', sans-serif;
}

h2{
  color: #383535;
  opacity: 0.6;
  font-family: 'arial', sans-serif;
  font-style: italic;
}

h3{
  text-decoration: underline;
  font-family: 'arial', sans-serif;
  margin-left: 2%;
}

.style1 h3{
  color: rgb(193, 40, 40);
}

p{
  font-family: 'arial', sans-serif;
  opacity: 0.7;
  margin-left: 2%;
}

ul{
  font-family: 'arial', sans-serif;
  opacity: 0.7;
}

.fit{
  width: 100%;
  height: auto;
}

.style1{
  color: #383535;
  margin-right: 1em;
}

.container{
  display: flex;
  align-items: flex-start;
}

.tabbed{
  margin-left: 1em;
}

@media screen and (min-width: 1050px){
  .menu{
    position: absolute;
    top: 5%;
    right: 1em;
    transform: translate(0,0);
    flex-direction: column;
    width: 150px;
  }
}

@keyframes fadeinLeft{
  0%{
    transform: translate(-100%, 0);
    opacity: 0;
  }
  100%{
    transform: translate(0%, 0);
    opacity: 1;
  }
}
@keyframes fadeinTop{
  0%{
    transform: translate(0, -100%);
    opacity: 0;
  }
  100%{
    transform: translate(0, 0%);
    opacity: 1;
  }
}
